.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-card-container {
	position: absolute;
  align-items: center;
  height: 250px;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translate(-50%);
}

.card-toggle-container {
  display: flex;
	font-size: 12px;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: end;
	margin-bottom: 10px;
	padding-right: 30px;
}

.map-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
}

.card-toggle-container p {
	margin: 0;
}

.stay-toggle {
	border-radius: 8px;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 10px gray;
  width: 50px;
  height: 60px;
	border: none;
	padding: 0;
	margin-right: 10px;
}

.stay-toggle img {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.tour-toggle {
	border-radius: 8px;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 10px gray;
  width: 50px;
  height: 60px;
	border: none;
	padding: 0;
}

.tour-toggle img {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.map-card .arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.map-card .arrow img {
  width: 100%;
  height: 100%;
}

.card-box {
  width: 85%;
  align-self: center;
}

.card-item {
  display: flex;
  justify-content: center;
	width: 150px;
}

.card-item button {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: white;
  border: rgba(0, 0, 0, 0);
  border-radius: 8px;
  box-shadow: 5px 5px 10px gray;
  overflow-y: hidden;
}

.card-item button img {
  width: 100%;
  height: 80%;
  margin-top: 5px;
  border-radius: 8px;
}

.card-item p {
  height: 20%;
  margin: 0;
}

.autocomplete-input {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 32px;
  border: 1px solid transparent;
	font-family: inherit;
  border-radius: 8px;
  box-shadow: 5px 5px 10px gray;
  font-size: 14px;
  text-overflow: ellipses;
	padding-left: 10px;
}

.search-box {
  background-color: #949ba0;
  height: 40px;
  padding: 10px;
}

.map-filter-container {
  position: absolute;
  top: 30px;
  right: 30px;
}

.filter {
	appearance : none;
	-o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
	font-family: inherit;
	width: 200px;
	height: 32px;
	border-radius: 8px;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 10px gray;
	font-size: 14px;
	text-overflow: ellipses;
	padding-left: 10px;
	padding-right: 25px;
	background: url('../drop-down.png') no-repeat 95% 50%/15px auto;
	background-color: white;
}

.filter-toggle-container {
	display: flex;
  justify-content: end;
	font-size: 12px;
	margin-top: 10px;
}

.filter-toggle-container p {
	margin: 0;
}

.kpop-toggle {
	border-radius: 8px;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 10px gray;
  width: 50px;
  height: 60px;
	border: none;
	padding: 0;
	margin-right: 10px;
}

.kpop-toggle img {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.culture-toggle {
	border-radius: 8px;
	border: 1px solid #cccccc;
	box-shadow: 5px 5px 10px gray;
  width: 50px;
  height: 60px;
	border: none;
	padding: 0;
}

.culture-toggle img {
	width: 40px;
	height: 40px;
	margin: 0 auto;
}