body {
  background-image: url(../src_asset/λ©”μΈν™.png);
  background-size: cover;
}
.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  background: no-repeat;
  /* border: none; */
  /* width: 30px; */
  /* height: 30px; */
  cursor: pointer;
}
