.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo img {
  height: 5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 85vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  margin-top: 40px;
  height: 80px;
  padding-bottom: 30px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  height: 100%;
}

.nav-links:hover {
  color: #ff59f6;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

@media all and (max-width: 812px) {
  .nav-menu {
  }
  .nav-item {
    top: 175vh;
    margin-top: 400px;
    margin-right: 100px;
  }
}
