.navbar {
  font-size: 1.2rem;
  width: 100vw;
}
.navbarContainer {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 280px 1fr;
}
.navbarLogo {
  align-self: center;
  height: 80px;
}
.navbarLogo img {
  width: 80%;
  object-fit: contain;
}
.navMenu {
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  max-width: 85vw;
  margin-right: 2rem;
}
.navItem {
  margin-top: 30px;
  height: 80px;
  padding-bottom: 30px;
  margin-right: 10px;
}
.navLinks {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1vw;
  height: 100%;
  font-size: 1.3rem;
  margin-top: 10px;
}
.navLinks:hover {
  color: #ff59f6;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}
/* mobile layout for width less than 812px*/
@media all and (max-width: 812px) {
  .navbarContainer {
    grid-template-columns: 1fr 2fr;
  }
  .navbarLogo {
    justify-self: left;
    align-items: baseline;
  }

  .navbarLogo {
    align-self: center;
    height: 60px;
  }
  
  .navItem {
    display: block;
    margin-left: 1vw;
    margin-right: 1.5rem;
    margin-top: 0;
  }
  .navLinks {
    font-size: 1rem;
  }
  .navLinks {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1vw;
    height: 40px;
    font-size: 1rem;
  }
  .navbarLogo img {
    width: 87%;
    object-fit: contain;
  }

  .navMenu {
    max-width: 50vw;
    justify-self: right;
    margin-top: 20px;
    margin-right: 1vw;
    grid-gap: 0px;

  }
  
}
