.MainNav {
  width: 100%;
}

.maindiv {
  width: 100%;
  top: 10px;
  left: 0px;
}

.mainbtn-2 {
  position: absolute;
  top: 650px;
  left: 10vw;
  cursor: pointer;
  padding: 1px 37px;
  border: solid 2px #ff59f6;
  font-size: 23px;
  color: #ff59f6;
  border: none;
  background-color: transparent;
  border: solid 2px #ff59f6;
}

.mainbtn-2 a {
  color: #ff59f6;
  text-decoration: none;
}

.mainbtn-2:hover {
  border: solid 2px #0759fc;
}
.mainbtn-2 a:hover {
  color: #0759fc;
}

@media all and (max-width: 812px) {
  .main-con {
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    background-image: url("../src_asset/로그인배경.png");
    height: 100vh;
    background-size: cover;
  }

  .mainbtn {
    top: 70vh;
    left: 30vw;
  }
}
@media all and (min-width: 812px) {
  .main-con {
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    background-image: url("../src_asset/메인홈.png");
    background-size: cover;
    height: 100vh;
  }
}

.mainbtn {
  position: absolute;
  top: 650px;
  left: 23vw;
}
