.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo img {
  height: 5rem;
}

@media all and (min-width: 812px) {
  .nav-item {
    margin-top: 40px;
    height: 80px;
    padding-bottom: 30px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 85vw;
    justify-content: end;
    margin-right: 2rem;
  }
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px;
  height: 100%;
  font-size: 23px;
}

.nav-links:hover {
  color: #ff59f6;
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

@media all and (max-width: 812px) {
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 20vw;
    margin-top: 43%;
    padding: 0px 50px;
  }

  .nav-item {
    display: block;
  }
}
