#my-body {
    background-color: #eeeeee;
}

#my-body button {
    border: 0;
    color: gray;
}

#my-body .body-navbar {
    border-bottom: 1px solid gray;
    margin-left: 2.35em;
    margin-right: 3em;
}

#my-body .body-navbtn:hover {
    border-bottom: 2px solid red;
    color: gray;
}

#my-body .body-card {
    width: 8em;
}

#my-body .body-card-body {
    background-color: gainsboro;
    padding-top: 0.5em;
    padding-bottom: 0;
}
