@media all and (max-width: 512px) {
	.sidebar {
		display: none;
	}
}

.sidebar {
	background-color: rgb(0,3,77);
	height: 100%;
	min-width: 300px;
	grid-row: 1 / span 4;
}

.inCanvas .sidebar {
	overflow: auto;
	display: block;
	background-color: rgb(0,3,77);
	height: 100vh;
	min-width: 300px;
	grid-row: 1 / span 4;
}

.sidebarTitle {
	cursor: default;
	display: block;
	text-align: center;
	font-size: 40px;
	color: #0074ff;
	margin-bottom: 1rem;
}

.sidebar i.bi-chevron-left {
	font-size: 30px;
	color: #fff;
}

.sidebar-item{
	color: #fff;
	padding: .75em 1em;
	display: block;
	transition: background-color .15s;
	border-radius: 5px;
}

.sidebar-item:hover{
	background-color: rgba(255, 255, 255, .1);
}

.sidebar-item.plain.select {
	background-color: #0074ff;
}

.sidebar-item.plain {
	color:#fff;
	text-decoration: none;
}

.sidebar-item.plain:hover {
	text-decoration: underline;
}

.sidebar-item.plain i{
	display: inline-block;
	width: 1.7em;
}

.concert_calender {
	margin-top: 1rem;
	height: auto;
}
