.login-con {
  position: relative;
  display: flex;
}

.login-con img {
  width: 100%;
}

@media all and (max-width: 812px) {
  .login-con {
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    background-image: url("../../src_asset/로그인배경.png");
    height: 100vh;
    background-size: cover;
  }
  .login-div {
    border-radius: 5%;
    background-color: #ffff;
    padding: 100px 35px 70px 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    align-items: center;
  }
}

@media all and (min-width: 812px) {
  .login-div {
    border-radius: 5%;
    background-color: #ffff;
    padding: 100px 35px 70px 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    align-items: center;
    right: 37%;
  }
}

.login-top {
  position: absolute;
  top: 15px;
  left: 10px;
}

.login-logo img {
  height: 5rem;
}

.login-div img {
  height: 5rem;
}

.login-black {
  position: absolute;
  display: flex;
  top: 20px;
}

.login-black img {
  height: 7rem;
  width: 21rem;
}

.input-css1 {
  margin-top: 50px;
  padding: 15px 100px 15px 30px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #e2e2e0;
  border: none;
}

.input-css2 {
  margin-top: 7px;
  padding: 15px 100px 15px 30px;
  display: block;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  background-color: #e2e2e0;
  text-indent: 0px;
}

.for-pwd {
  margin-top: 0px;
  margin-bottom: 0px;
}

.for-pwd a {
  color: #006bff;
  text-decoration: none;
}

.login-btn button {
  border: 0;
  outline: 0;
  background-color: #1755d1;
  font-size: 15px;
  color: #ffff;
}

.login-btn {
  background-color: #1755d1;
  padding: 10px 130px 10px 130px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffff;
}

.signup-btn {
  background-color: #f4029b;
  padding: 10px 120px 10px 120px;
  color: #ffff;
  font-size: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.signup-btn button {
  border: none;
  background-color: #f4029b;
  color: #ffff;
}

.input-css1,
.input-css2:hover {
  cursor: pointer;
}

.pwd {
  padding: 10px 85px;
  background-color: #ffff;
  border: none;
  color: #1755d1;
}
