.login-con {
  position: relative;
  display: flex;
}

.login-con img {
  width: 100%;
}

.login-div {
  border-radius: 5%;
  background-color: #ffff;
  padding: 250px 100px;
  top: 180px;
  left: 510px;
  position: absolute;
}

.login-top {
  position: absolute;
  top: 15px;
  left: 10px;
}

.login-logo img {
  height: 5rem;
}

.login-div img {
  height: 5rem;
}

.login-black {
  position: absolute;
  bottom: 77%;
  right: 10%;
  display: flex;
}

.login-black img {
  height: 7rem;
  width: 21rem;
}

.inpult-nav {
  position: absolute;
  bottom: 50%;
  right: 13%;
}

.input-id {
}

.input-css {
  padding: 0.8em 3em;
  display: block;
  margin-bottom: 5px;
  border-radius: 10%;
}
