/* 수정, 삭제 버튼 */
@media all and (min-width:768px) {
    #my-body .box-btn {
        margin-left: 1rem;
        position: absolute;
        bottom: 1rem;
    }
}

@media all and (max-width:768px) {
    #my-body .box-btn {
        margin-top: 1rem;
        margin-left: 1rem;
        /* margin-bottom: 1rem; */
    }
}

/* 코스 삭제 버튼 */
#my-body .delete-btn {
    text-align: right;
    padding-top: 10px;
    margin-right: 10px;
}

/* Modification 수정 버튼 */
#my-body .btn {
    background-color: none;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
}

#my-body .btn:hover {
    background-color: #f4029b;
}