#my-body button {
    border: 0;
    color: gray;
}

#my-body .box-btn {
    margin-left: 8px;
}

@media all and (min-width:768px) {
    #my-body .box-btn {
        margin-left: 8px;
        margin-top: 230px;
    }
}

#my-body .btn {
    background-color: none;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 15px;
    padding: 0px 6px 0px 6px;
    color: white;
    margin-right: 7px;
}

#my-body .btn:hover {
    background-color: red;
}