#my-body button {
    border: 0;
    color: gray;
}

#my-body .box-btn {
    margin-left: 1rem;
    margin-bottom: 0;
    position: absolute;
    bottom: -15px;
}

#my-body .btn {
    background-color: none;
    border: 1px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
}

#my-body .btn:hover {
    background-color: red;
}