#my-body .cardList {
	display: flex;
	overflow-y: auto; /* 스크롤 수평방향으로 만듬 */
}

#my-body .body-card {
    width: 8em;
    margin-right: 4rem;
	position: relative;
}

#my-body .body-card-hover {
    width: 7.95em;
	height: 8.5em;
	position: absolute;
    margin-right: 4rem;
	opacity: 0;
}

#my-body .body-card-hover:hover {
    width: 7.85em;
	height: 8.45em;
	background: fuchsia;
	position: absolute;
	cursor: pointer;
	opacity: 0.8;
}

#my-body .body-card-body {
    background: gainsboro;
    padding-top: 0.5em;
    padding-bottom: 0;
}

.card-container{
	width: 20rem;
	height: 16rem;
	overflow: hidden;
	box-shadow:0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in-out;
	background-color: white;
	margin: 5%;
	display: flex;
	justify-content: center;
}

.image-container {
	position: relative;
	background-color: black;
	color: white;
	text-align: center;
}
.image-container img{
	overflow: hidden;
	width: 16rem;
	height: 16rem;
	opacity: 0.8;
}
.image-title{
	font-size: x-large;
	position: absolute;
	bottom: 8px;
	left: 16px;
}
.card-content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.card-content img {
	width: 2rem;
}

h3,p{
	/* resetting default value */
	margin: 0;
	padding: 0;
}