#my-body {
    /* 뒷 배경을 가리기 위한 임시 방책 */
    background-color: #eeeeee;
}

#my-body button {
    border: 0;
    color: gray;
}

#my-body .body-navbar {
    background-color: #eeeeee;
    border-bottom: 1px solid gray;
    border-top: none;
    border-right: none;
    border-bottom-right-radius: 0px;
    margin-left: 2.3em;
    margin-right: 3em;
}

#my-body .body-navbtn:hover {
    color: red;
}
