#my-body {
    /* 뒷 배경을 가리기 위한 임시 방책 */
    background-color: #eeeeee;
}

#my-body .body-navbar {
    background-color: #eeeeee;
    border-bottom: 2px solid gray;
	width: 80.3vw;
    margin-left: 2.6em;
    margin-right: 2.6em;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media all and (max-width:768px) {
    #my-body .body-navbar {
        margin-left: 50px;
    }
}

#my-body .navbtn {
    border-bottom: 5px solid blue;
}

#my-body .navbtn:hover {
    color: green;
}

@media all and (max-width:768px) {
    #my-body .body-navbar .mob-body-nav {
        width: 210px;
    }
}