#my-body {
    /* 뒷 배경을 가리기 위한 임시 방책 */
    background-color: #eeeeee;
}

#my-body .body-navbar {
    background-color: #eeeeee;
    border-bottom: 1px solid rgba(128, 128, 128, 0.401);
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#my-body .body-navbar button {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media all and (max-width:768px) {
    #my-body .body-navbar {
        margin-left: 50px;
    }
}

#my-body .navbtn {
    border-bottom: 5px solid blue;
}

#my-body .navbtn:hover {
    color: green;
}

@media all and (max-width:768px) {
    #my-body .body-navbar .mob-body-nav {
        width: 210px;
    }
}