/* 각각의 day box */
#my-body .box-list {
	background-color: #eeeeee;;
	margin-right: 2rem;
	margin-left: 4rem;
	padding-right: 1rem;
	overflow: auto;
	height: 45rem;
}

#my-body .box-list .box-card-item {
	margin-bottom: 3rem;
	height: 20rem;
	display: grid;
	grid-template-columns: 20% 80%;
	position: relative;
	color: white;
}

#my-body .box-card-item .left {
	background-color: blue;
}

#my-body .box-card-item .left .title{
	margin-top: 10px;
	margin-left: 20px;
}

#my-body .box-card-item .right {
	background-color: white;
}

/* 장소 카드 전체 감싸는 부분 */
#my-body .cardList {
	display: flex;
	overflow-y: auto;
	padding-bottom: 2rem;
	/* 스크롤 수평방향으로 만듬 */
}

/* body card */
#my-body .body-card {
	width: 9rem;
	margin-left: 90px;
	position: relative;
}

#my-body .body-card-body {
	background: gainsboro;
	padding-top: 0.5em;
	padding-bottom: 0;
	height: 4rem;
}


/* 날짜 표시 */
#my-body .date {
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
}

#my-body .date-span {
	border: 1px solid rgba(128, 128, 128, 0.401);
	color: blue;
	padding: 6px;
}

/* 카드 view more 호버 기능 */
#my-body .body-card .body-card-hover {
	width: 9em;
	height: 8.6em;
	position: absolute;
	opacity: 0;
}

#my-body .body-card .body-card-hover:hover {
	width: 9em;
	height: 10em;
	background: fuchsia;
	position: absolute;
	cursor: pointer;
	opacity: 0.8;
}
