#my-body .boxList {
	width: 85vw;
	height: 75vh;
}

@media all and (min-width:768px) { 
	#my-body .boxList {
		overflow-x: auto;
		width: 85vw;
		height: 75vh;
	}
}

#my-body .boxList .box-card {
	width: 79.6vw;
	margin-bottom: 30px;
	margin-left: 53px;
}

/* 모바일 화면을 위해 임시적으로 하드코딩함 (부트스트랩 커스텀) */
@media all and (max-width:768px) {
	#my-body .boxList .box-card-top {
		margin-left: 11px;
		width: 398px;
	}
}

#my-body .cardList {
	display: flex;
	overflow-y: auto; /* 스크롤 수평방향으로 만듬 */
}

#my-body .date {
	text-align: right;
	margin-top: 20px;
	margin-right: 20px;
}

#my-body .date-span{
	border: 2px solid gray;
	color: blue;
	padding: 6px;
}

@media all and (min-width:768px) { 
	#my-body .body-card {
		width: 8em;
		margin-left: 50px;
		margin-right: 30px;
		position: relative;
	}
}

#my-body .body-card .body-card-hover {
    width: 8em;
	height: 8.6em;
	position: absolute;
	opacity: 0;
}

#my-body .body-card .body-card-hover:hover {
    width: 8em;
	height: 8.5em;
	background: fuchsia;
	position: absolute;
	cursor: pointer;
	opacity: 0.8;
}

#my-body .body-card-body {
    background: gainsboro;
    padding-top: 0.5em;
    padding-bottom: 0;
}

#my-body .card-idol {
	color: blue;
	text-align: center;
	margin-top: 8px;
}
