#my-body {
	/* 뒷 배경을 가리기 위한 임시 방책 */
	background-color: #eeeeee;
}

/* main body 전체 리스트 */
@media all and (min-width:768px) {
	#my-body .box-list {
		background-color: #eeeeee;;
		margin-right: 2rem;
		margin-left: 4rem;
		padding-right: 1rem;
		overflow: auto;
		height: 45rem;
	}
}

@media all and (max-width:767px) {
	#my-body .box-list {
		background-color: #eeeeee;
	}
}

/* 각각의 day 리스트 */
@media all and (min-width:768px) {
	#my-body .box-list .box-card-item {
		margin-bottom: 3rem;
		height: 20rem;
		display: grid;
		grid-template-columns: 20% 80%;
		position: relative;
		color: white;
		box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.3);
	}
}

@media all and (max-width:767px) {
	#my-body .box-list .box-card-item {
		width: 21rem; /* day 박스 크기 설정 */
		position: relative;
		color: white;
		margin: auto;
		box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.3);
	}
}

/* day 카드 왼쪽 */
@media all and (min-width:768px)
{
	#my-body .box-card-item .left {
		background-color: #3172F6;
	}
}

@media all and (max-width:767px) {
	#my-body .box-card-item .left {
		background-color: #3172F6;
		padding-bottom: 1rem;
	}
}

/* 카드 왼쪽, 위쪽(모바일) 타이틀 */
@media all and (min-width:767px) {
	#my-body .box-card-item .left .title {
	margin-top: 10px;
	margin-left: 20px;
	}
}

@media all and (max-width:767px) {
	#my-body .box-card-item .left .title {
		margin-top: 2rem;
		margin-left: 20px;
		padding-top: 0.5rem;
	}
}

/* day 카드 오른쪽 */
#my-body .box-card-item .right {
	background-color: white;
}

/* 장소 카드 전체 감싸는 부분 */
#my-body .cardList {
	display: flex;
	justify-content: flex-start;
	overflow-y: auto; /* 스크롤 수평방향으로 만듬 */
	height: 89%; /* Deletebtn 높이를 줄여서 밑에 수평바 위치 맞추기 위해 */
}

/* body card */
@media all and (min-width:768px) {
	#my-body .body-card {
		width: 9rem;
		margin-left: 80px;
		position: relative;
		box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
	}
}

@media all and (max-width:767px) {
	#my-body .body-card {
		width: 9rem;
		margin-left: 40px;
		position: relative;
		box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
	}
}

#my-body .body-card-body {
	background: gainsboro;
	padding-top: 0.5em;
	padding-bottom: 0;
	height: 4rem;
	color: black;
}

/* 카드 view more 호버 기능 */
#my-body .body-card .body-card-hover {
	width: 9em;
	height: 8.7em;
	position: absolute;
	opacity: 0;
}

#my-body .body-card .body-card-hover:hover {
	width: 9em;
	height: 10.2em;
	background: #f4029b;
	position: absolute;
	cursor: pointer;
	opacity: 0.8;
}
