<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prac.react.model.dao.CelebDao">
	<!-- member count 가져오는 메소드 -->
	<select id="getCelebrities" resultType="Celebrity">
		select * from celebrities
	</select>
	<select id="getCelebKeyNumByName" parameterType="String" resultType="int">
		select keyNum from celebrities where name= #{name}
	</select>
</mapper>