<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prac.react.model.dao.PlaceDao">
	<!-- member count 가져오는 메소드 -->
	<select id="getPlaceList" resultType="Place">
		select * from places
	</select>
</mapper>