.ConcertListBody {
	background-color: #eeeeee;
}

.ConcertSearchBar{
	display:flex;
	justify-content: flex-start;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.IdolSelect{
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.CardContainer{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.CardDiv{
	display: 0;
	float: left;
}

@media (min-width: 800px) {
	.CardContainer { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
	.CardContainer { grid-template-columns: repeat(4, 1fr); }
}