.map-page {
	background-color: #eeeeee;
}

.map-render {
	display: flex;
	flex-direction: column;
	flex-grow: 1 5;
	background-color: #eeeeee;
	height: 100%;
	width: 100%;
}

.map-render .search-bar {
	display: flex;
	flex-grow: 1;
	min-height: 40px;
	align-items: center;

}

.map-render .google-map {
	flex-grow: 20;
}

.search-box-input {
	height: 20px;
	width: 100px;
	margin-left: 10px;
	border: solid 3px black;
	border-radius: 8px;
}

.marker {
	background-color: white;
	border-radius: 8px;
	border: 1px solid black;
	cursor: pointer;
	/* height: 30px;
	width: 30px; */
}

.marker .marker-img {
	height: 20px;
	width: 20px;
}

.current-marker {
	border-radius: 50%;
	border: 1px solid black;
	height: 10px;
	width: 10px;
	background: blue;
}