.map-page {
	border: 5px solid blue;
}

.marker {
	background-color: white;
	border-radius: 8px;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.current-marker {
	border-radius: 50%;
	border: 1px solid black;
	height: 10px;
	width: 10px;
	background: blue;
}