.card-container{
	width: 300px;
	overflow: hidden;
	box-shadow:0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in-out;
}

.card-container:hover{
	transform: scale(1.1);
	box-shadow:0px 0px 15px 0px;
}

.image-container img{
	overflow: hidden;
	height: 200px;
}

.card-content{
	margin: 1rem;
	margin-top: 0.3rem;
}

h3,p{
	/* resetting default value */
	margin: 0;
	padding: 0;
}

.card-title{
	margin-bottom: 0.5rem;
}

.btn{
	display: flex;
	justify-content: center;

}

.btn button{
	padding: 0.5rem;
	background-color: white;
	border:none;
	transition: 0.2s;
	margin-bottom: 0.5rem;
}

.btn button:hover{
	background-color: rgba(27, 156, 253, 0.1);
}

a{
	text-transform: uppercase;
	color: #1B9CFC;
	text-decoration: none;
	font-weight: bold;
}