.ListBody {
	background-color: #eeeeee;
}

.SearchBar{
	display: flex;
	justify-content: left;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.CardContainer{
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	padding: 10px;
}

.CardDiv{
	display: 0;
	float: left;
}

@media (max-width: 950px) {
	.SearchBar { justify-content: center; }
}

@media (min-width: 800px) {
	.CardContainer { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1000px) {
	.SearchBar {
		margin-left: 3rem;
	}
	.CardContainer {
		grid-template-columns: repeat(4, 1fr); 
		padding-right: 3rem;
	}
	.CardDiv {
		margin-left: 3rem;
	}
}