
.no_submit{
	background-image: url("https://i.imgur.com/VbBlOIf.png");
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: 10px center;
	width: 100%;
	outline: none;
}

input[type=search] {
	width: 15rem;
	height: 2.5rem;
	border-radius: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.1rem;
	outline: none;
	border-color: #0074ff;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: white;
	font-family: 'Noto Sans CJK KR';
	color: black;
}

input[type=search]::placeholder{
	font-family: 'Noto Sans CJK KR';
	color: black;
}

input[type=search]:focus{
	box-shadow: 0 0 3px 0 #0074ff;
	border-color: #0074ff;
	outline: none;
}