.card_container{
	font-family: 'Noto Sans CJK KR';
	display: grid;
	width: 1fr;
	overflow: hidden;
	box-shadow:0px 0px 15px _5px;
	transition: 0.3s;
	animation: ease_in_out;
	background-color: white;
	margin: 5%;
	border-radius: 2rem;
}

.card_container:hover{
	transform: scale(1.05);
}

.image_container {
	display: inline;
	width: 100%;
	position: relative;
	color: white;
	background-color: black;
	text-align: left;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.image_container img{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	object-fit: cover;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.75;
}

.image_container img:hover{
	opacity: 0.95;
}

.image_title{
	font-family: 'Noto Sans CJK KR';
	font-size: xx-large;
	font-weight: 800;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0.5rem;
	color: white;
}

.card_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_content *{
	text-align: center;
}

.card_content img {
	width: 1.3rem;
	margin: 0.7rem;
}

.card_content_spot{
	font-family: 'Noto Sans CJK KR';
	justify-content: right;
	align-items: center;
}

.card_content_spot *{
	display: inline;
}

h3,p{
	/* resetting default value */
	margin: 0;
	padding: 0;
}

.modal{	
	border-radius: 2rem;
}

.modal_header{
	overflow: hidden;
	position: relative;
	height: 30rem;
	display: block;
	justify-content: center;
}

.modal_header img{
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translate(50, 50);
	object-fit: cover;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.modal_body {
	display: flex;
	flex-direction: column;
}

.modal_title {
	color: black;
	font-weight: bold;
	font-size: xx-large;
	display: block;
	width: 100%;
	text-align: left;
}

.modal_title img{
	margin: 1rem;
	width: 1.5rem;
}

.modal_paragraph {
	width: 70%;
}

.modal_info {
	width: 20%;
	text-align: right;
}

.modal_info *{
	width: 80%;
	display: flex;
	justify-content: right;
	align-items: right;
	margin: 3px;
	object-fit: contain;
}

.modal_like_num img {
	width: 1.3rem;
}

.modal_spot_num img {
	width: 1.3rem;
}

.button {
	color: white;
	text-decoration: none;
}

.button:hover {
	color: white;
}

@media (max_width: 950px) {
	.modal_body {
		flex-direction: column;
	}
	.modal_body * {
		display: block;
	}
	.modal_title{
		order: 1;
		width: 100%;
	}
	.modal_info {
		order: 2;
		width: 100%;
	}
	.modal_paragraph {
		order: 3;
		width: 100%;
	}
}