header {
	display: flex;
	background-color: rgba(255, 255, 255, 1);
	height: 80px;
  }
  
  header .left {
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	margin-left: 20px;
  }
  
  header .left img {
	height: 30px;
	width: 30px;
	margin-right: 30px;
  }

	header .left .title {
		margin: 0;
		font-size: x-large;
		font-weight: 700;
	}
  
  header .right {
	  display: flex;
	  align-items: center;
	  margin: 0 20px 0 auto;
  }
  
  header .right .logo {
		background-color: rgba(255, 255, 255, 255);
		width: 100%;
		padding: 0;
		border: none;
		cursor: pointer;
  }
  
  header .right .logo-img {
		height: 50px;
		width: 100%;
  }
  
  header .right .menu {
	height: 30px;
	width: 30px;
  }

  header i.bi.bi-list {
	font-size: 30px;
  }

  header i.bi.bi-list:hover {
	cursor: pointer;
  }