.name {
	color: #0074ff;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

.pf_img_container {
	display: block;
	margin: auto;
	width: 120px;
	height: 120px;
	border-radius: 70%;
	overflow: hidden;
	margin-bottom: 1rem;
}

.pf_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.link-to-mypage {
	text-decoration: none;
	text-align: center;
}

.link-to-login {
	text-decoration: none;
}

.sidebar i.bi-person-circle {
	display: flex;
	color: #0074ff;
	font-size: 100px;
	cursor: pointer;
	justify-content: center;
	margin-bottom: 1rem;
}