.sidebar {
	background-color: rgb(0,3,77);
	height: 100%;
	min-width: 260px;
	grid-row: 1 / span 4;
}

i.bi-filter-circle {
	display: block;
	text-align: center;
	font-size: 40px;
	color: #0074ff;
}

.sidebar i.bi-chevron-left {
	font-size: 30px;
	color: #fff;
}

.sidebar i.bi-person-circle {
	display: flex;
	color: #0074ff;
	font-size: 60px;
	justify-content: center;
}

.sidebar-item{
	color: #fff;
	padding: .75em 1em;
	display: block;
	transition: background-color .15s;
	border-radius: 5px;
}
.sidebar-item:hover{
	background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
	display: flex;
	font-size: 1.2em;
	justify-content: center;
}

.sidebar-title span i{
	display: inline-block;
	width: 1.5em;
}

.sidebar-title .toggle-btn {
	cursor: pointer;
	transition: transform .3s;
}

.sidebar-item.open > .sidebar-title .toggle-btn {
	transform: rotate(180deg);
}

.sidebar-content{
	padding-top: .25em;
	height: 0;
	overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
	height: auto;
}

.sidebar-item.plain.select {
	background-color: #0074ff;
}

.sidebar-item.plain {
	color:#fff;
	text-decoration: none;
}

.sidebar-item.plain:hover {
	text-decoration: underline;
}

.sidebar-item.plain i{
	display: inline-block;
	width: 1.7em;
}