.layout {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 6fr;
}

.side-nav {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 3, 77);
  min-width: 200px;
  grid-row: 1 / span 4;
}

.side-nav .idol {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.side-nav .idol img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

header {
  display: flex;
  background-color: white;
  align-items: center;
  min-height: 40px;
}

header .left {
  display: flex;
  margin-left: 10px;
}

header .left img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

header .left p {
  margin-top: 10px;
}

header .right {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

header .right .logo {
  margin-right: 10px;
  background: no-repeat;
  /* border: none; */
  /* width: 30px; */
  /* height: 30px; */
  cursor: pointer;
}

header .right .logo-img {
  height: 30px;
  width: 30px;
}

header .right .menu {
  height: 20px;
  width: 20px;
  margin-top: 5px;
}

.search {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  min-height: 40px;
}

.search .left {
  color: red;
  margin-left: 10px;
}

.search .left input {
  border-radius: 10px;
  margin-left: 10px;
}

.search .right {
  margin-left: auto;
  margin-right: 10px;
}

.body {
  background-color: #eeeeee;
}
