.layout {
	background-color: rgba(238, 238, 238);
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 10fr;
}

header {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  min-height: 40px;
}

header .left {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin: 0 0 0 10px;
}

header .left img {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
}

header .right {
	display: flex;
	align-items: center;
	margin: 0 10px 0 auto;
}

header .right .logo {
  margin-right: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

header .right .logo-img {
  height: 30px;
  width: 30px;
}

header .right .menu {
  height: 20px;
  width: 20px;
}
