@media all and (max-width: 512px) {
  .layout {
    background-color: rgba(238, 238, 238);
    display: grid;
    height: 100vh;
    overflow: auto;
    grid-template-rows: 1fr 10fr;
  }
}

@media all and (min-width: 512px) {
  .layout.open {
    background-color: rgba(238, 238, 238);
    display: grid;
    height: 100vh;
    overflow: scroll;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 10fr;
  }

  .layout.close {
    background-color: rgba(238, 238, 238);
    display: grid;
    height: 100vh;
    overflow: auto;
    grid-template-rows: 1fr 10fr;
  }

  .layout.close > .sidebar {
		display: none;
  }
	
	.layout.close > .map-sidebar {
		display: none;
	}
}