.login-logo img {
  height: 5rem;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}

@media all and (max-width: 812px) {
  .about-con {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 1000vh;
    width: 100%;
  }

  #nav-last {
    font-size: 13px;
    margin-bottom: 70px;
    display: flex;
    position: relative;
  }

  .nav-menu {
    position: relative;
    /* left: 43px; */
    left: 35px;
    top: 3px;
  }

  #travel {
    font-size: 20px;
    font-weight: 500;
    color: #0759fc;
  }

  .about-kculter {
    color: #ffff;
    position: absolute;
    top: 300px;
    font-size: 10px;
    margin-left: 140px;
  }

  #main-logo {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 200px;
    height: 100px;
  }
  .about-top {
    position: fixed;
  }

  #kpop {
    color: #ff59f6;
    font-size: 20px;
    margin: 0px 10px;
  }
  .mainbtn2 {
    position: absolute;
    top: 540px;
    left: 25%;
    position: fixed;
  }
  .main-start {
    padding: 1px 30px;
    font-size: 15px;
  }
  .chevron {
    position: absolute;
    top: 600px;
    left: 175px;
    color: #ff59f6;
    size: 20px;
    animation: bounce 1.5s ease infinite;
  }

  .navbar-logo img {
    height: 3rem;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-size: 15px;
  }

  .nav-item {
    height: 80px;
  }

  .korean {
    right: 40px;
    font-size: 20px;
  }

  .about-con img {
    width: 100%;
  }
}

@media all and (min-width: 812px) {
  .about-con {
    display: flex;
    height: 9000px;
    width: 9000px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    flex-direction: column;
  }
  .mainbtn {
    top: 70vh;
    left: 30vw;
  }

  #travel {
    font-size: 40px;
    font-weight: 900;
    color: #0759fc;
  }

  .korean {
    align-self: center;
  }

  .about-kculter {
    color: #ffff;
    position: absolute;
    display: block;
    top: 430px;
    font-size: 40px;
    padding: 0px 200px;
    align-self: center;
    text-align: center;
  }

  .about-top {
    position: fixed;
    top: 15px;
    left: 10px;
  }

  #main-logo {
    display: block;
    position: absolute;
    top: 200px;
    width: 430px;
    height: 230px;
    align-self: center;
  }

  #kpop {
    color: #ff59f6;
    font-size: 40px;
    margin: 0px 10px;
    margin-right: 10px;
  }
  .mainbtn2 {
    position: absolute;
    display: block;
    top: 83%;
    align-self: center;
  }

  .chevron {
    position: absolute;
    top: 730px;
    color: #ff59f6;
    animation: bounce 1.5s ease infinite;
    align-self: center;
  }

  .about-con img {
    width: 100%;
    height: 100%;
  }

  .whoweare {
    color: #fff;
    position: absolute;
    top: 1000px;
    font-size: 120px;
    line-height: 100px;
    font-weight: bold;
    width: 430px;
    display: block;
    align-self: center;
    z-index: 1;
  }
  #WE {
    display: block;
  }
}

#aa {
  display: block;
}

.whoweare2 {
  color: rgba(6, 89, 252, 0.3);
  position: absolute;
  top: 1000px;
  font-size: 120px;
  line-height: 100px;
  font-weight: bold;
  align-self: center;
}

.location-service {
  position: absolute;
  top: 1350px;
  font-size: 30px;
  color: #fff;
  align-self: center;
  display: block;
}

#location-kpop {
  color: #ff59f6;
}

.location-p {
  position: absolute;
  top: 1300px;
  align-self: center;
  color: #fff;
  right: 160px;
  display: block;
}

.kpop-pin {
  position: absolute;
  top: 1800px;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  align-self: center;
  z-index: 1;
  display: block;
}

.kpop-pin2 {
  position: absolute;
  top: 1800px;
  color: rgba(6, 89, 252, 0.3);
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
  align-self: center;
}

.logo {
  position: absolute;
  top: 1400px;
  align-self: center;
}

.logo img {
  margin: 0px 3px;
  width: 50px;
  height: 50px;
}

.kpop-pin img {
  display: block;
  width: 100px;
  height: 100px;
  bottom: 120px;
}

#location {
  display: block;
}
