
.CardContainer{
	display: grid;
	grid-template-columns: auto;
}

.CardDiv{
	display: 0;
	float: left;
	margin-left: 1rem;
	margin-right: 1rem;
}

@media (min-width: 900px) {
	.CardContainer { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
	.CardContainer { grid-template-columns: repeat(3, 1fr); }
}