.card-container{
	display: grid;
	width: 1fr;
	overflow: hidden;
	box-shadow:0px 0px 15px -5px;
	transition: 0.3s;
	animation: ease-in-out;
	background-color: white;
	margin: 5%;
	border-radius: 2rem;
}

.card-container:hover{
	transform: scale(1.1);
}

.image-container {
	display: inline;
	width: 100%;
	position: relative;
	background-color: black;
	color: white;
	text-align: left;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.image-container img{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50, 50);
	object-fit: cover;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.image-container img:hover{
	opacity: 0.85;
}

.card-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-content *{
	width: 4rem;
	margin: 0.3rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-title{
	font-size: x-large;
	font-weight: bold;
}

.card-content img {
	width: 2rem;
}

h3,p{
	/* resetting default value */
	margin: 0;
	padding: 0;
}

.idolcard-modal-header{
	overflow: hidden;
	position: relative;
	height: 30rem;
	background-color: black;
	display: block;
	justify-content: center;
}

.idolcard-modal-header img{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	transform: translate(50, 50);
	object-fit: cover;
	margin: auto;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.idolcard-modal-title {
	color: white;
	font-weight: bold;
	font-size: 100rem;
	position: absolute;
	top: 30%;
	display: block;
	width: 100%;
	text-align: center;
}

.idolcard-modal-body {
	display: flex;
	justify-content: left;
}

.idolcard-modal-paragraph {
	width: 70%;
}

.idolcard-modal-info {
	width: 20%;
	text-align: right;
}

.idolcard-modal-info *{
	width: 80%;
	display: flex;
	justify-content: right;
	align-items: right;
	margin: 3px;
	object-fit: contain;
}

.idolcard-modal-like-num img {
	width: 1.3rem;
}

.idolcard-modal-spot-num img {
	width: 1.3rem;
}

@media (max-width: 950px) {
	.idolcard-modal-body {
		flex-direction: column;
	}
	.idolcard-modal-body * {
		display: block;
	}
	.idolcard-modal-info {
		order: 1;
		width: 100%;
	}
	.idolcard-modal-paragraph {
		order: 2;
		width: 100%;
	}
}