.IdolListBody {
	background-color: #eeeeee;
}

.IdolSearchBar{
	display: flex;
	justify-content: left;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.CardContainer{
	display: grid;
}

.CardDiv{
	display: 0;
	float: left;
	margin-left: 1rem;
	margin-right: 1rem;
}
