
.PlaceListBody {
	background-color: #eeeeee;
}

.IdolSearchBar{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.CardContainer{
	display: grid;
	grid-template-columns: auto;
}

.CardDiv{
	display: 0;
	float: left;
	margin-left: 1rem;
	margin-right: 1rem;
}

@media (min-width: 800px) {
	.CardContainer { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1000px) {
	.CardContainer { grid-template-columns: repeat(3, 1fr); }
}